body {
	background-image: url('public/assets/fondofinal.jpg');
	background-repeat: repeat;
	background-size: 100%;
	margin: 0px;
	font-family: Silkscreen;
	cursor: url('../public/assets/mascleto_34.ico'), auto;
	
	
}




